<%= form_with(model: [@title,@content], local: true) do |form| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger"><%= @content.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @content.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p><%= form.label "本文" %></p>
    <p><%= form.text_area :content, :size=>"40x10" %></p>
    <p><%= image_tag(@content.image.url) if @content.image.url %></p>
    <p><%= form.label "画像アップロード" %></p>
    <p><%= form.file_field :image, id: :title_image %></p>
  </div>  
  <div class="actions">
    <p><%= form.submit "投稿", class: "btn btn-warning btn-lg" %></p>
  </div>
<% end %>
