<%= form_with(model: tag_list, local: true) do |form| %>
  <% if tag_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_list.errors.count, "error") %> prohibited this tag_list from being saved:</h2>

      <ul>
      <% tag_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_id %>
    <%= form.number_field :title_id %>
  </div>

  <div class="field">
    <%= form.label :tag_id %>
    <%= form.number_field :tag_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
