<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger"><%= @category.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :name %>
  </div>

  <div class="actions">
    <p><%= form.submit "登録", class: "btn btn-warning btn-lg" %></p>
  </div>
<% end %>
