<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path "book.png" %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>マニュアルページ</h1>
          <span class="subheading">カテゴリ一覧</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
<h1 class="post-title"><p id="notice"><%= notice %></p></h1>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <% @categories.each do |category| %>
            <h3 class="post-subtitle">
              <%= link_to category.name, category %>
            </h3>
            <%= link_to '編集', edit_category_path(category) %>
            <button class="btn btn-primary float-right">
              <%= link_to '削除', category, method: :delete, data: { confirm: 'カテゴリと中のマニュアルが全て削除されます。本当に削除してよろしいですか？' } %>
            </button>
            <hr>
          <% end %>
      <h4><%= link_to '▶︎新しいカテゴリを作成する', new_category_path %></h4>
    </div>
  </div>
</div>