<!DOCTYPE html>
<html>
  <head>
    <title>EasyManualCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <a href="/">トップページ</a>
    
    <% if logged_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>
  </header>
    
    <%= yield %>
    
  <footer>
    <p>NTT Com CHEO株式会社</p>
  </footer>
  </body>
</html>
